
.title {
    text-align: center;
}

button {
    border: none;
    border-radius: 6px;
    background-color: rgb(255, 192, 111);
    width: 150px;
    height: 30px;
    font-weight: bold;

}

div.button {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

form {
    padding-top: 2rem;
    border-bottom: 1px solid rgb(255, 192, 111);
    height: 300px;
    /* width: 400px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    justify-items: center;
}

form > div {
    /* border: 1px solid red; */
    width: 600px;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 20px;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: 1px solid rgb(255, 196, 0);
    padding: 0px 8px;
    
    /* border: 2px solid blue; */
}

input:focus {
    box-shadow: 0px 0px 8px rgba(95, 95, 95, 0.527);
}

label {
    width: 150px;
    /* border: 1px solid blue; */
}

#radio label {
    width: 80px;
}

#radio input {
    width: 20px;
    outline: none;
}

.main-container {
    padding: 3rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    /* align-items: center; */
    gap: 2rem;
}

.book-card, .static-card {
    width: 200px;
    height: 300px;
    /* border: 1px solid black; */
    text-align: center;

    box-shadow: 0px 0px 8px 1px rgb(201, 201, 201);
}