
.title {
    text-align: center;
}

.main-container {
    padding: 3rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    /* align-items: center; */
    gap: 2rem;
}

.book-card {
    width: 200px;
    height: 300px;
    /* border: 1px solid black; */
    text-align: center;

    box-shadow: 0px 0px 8px 1px rgb(201, 201, 201);
}